body {
    font-family: Arial, sans-serif;
    background-color: #f5ece0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #fff8f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.form-container h2 {
    color: #ba9d45;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #251b0e;
}

.form-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ba9d45;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #ba9d45;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container button:hover {
    background-color: #a78d3e;
}

.form-container .login-link {
    margin-top: 10px;
    color: #251b0e;
    text-decoration: none;
}

.form-container .login-link:hover {
    text-decoration: underline;
}